<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li ng-if="$root.currency.psymbol=='BTC'">
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency($root.currency.psymbol)" data-ng-class="{active: currency.symbol == $root.currency.psymbol}">{{$root.currency.psymbol}}</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency($root.currency.msymbol)" data-ng-class="{active: currency.symbol == $root.currency.msymbol}">{{$root.currency.msymbol}}</a>
  </li> 
</ul>

